
*.xcuserstate

*.xcworkspacedata

*.xcscheme

2016Olympics.xcworkspace/xcuserdata/tonyguan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

2016Olympics/2016Olympics.xcodeproj/xcuserdata/tonyguan.xcuserdatad/xcschemes/xcschememanagement.plist

2016Olympics/2016Olympics.xcodeproj/xcuserdata/yangyihui.xcuserdatad/xcschemes/xcschememanagement.plist

PersistenceLayer/PersistenceLayer.xcodeproj/xcuserdata/yangyihui.xcuserdatad/xcschemes/xcschememanagement.plist

PersistenceLayer/PersistenceLayer.xcodeproj/xcuserdata/tonyguan.xcuserdatad/xcschemes/xcschememanagement.plist

BusinessLogicLayer/BusinessLogicLayer.xcodeproj/xcuserdata/tonyguan.xcuserdatad/xcschemes/xcschememanagement.plist

BusinessLogicLayer/BusinessLogicLayer.xcodeproj/xcuserdata/yangyihui.xcuserdatad/xcschemes/xcschememanagement.plist
